<!--@user → user-->
<h2>User info</h2> 
<div class="profile-container">
  <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format:'jpg', fallback:"no_image.jpg", size:"40x40" %>
  <p><%= user.name %></p>
  <p><%= user.introduction %></p>
  <% if user.id == current_user.id %>
    <p><%= link_to "Edit", edit_user_path(user) %></p>
  <% else %>
    <p><%= link_to "Edit", user_path(user.id) %></p>
  <% end %>
</div>