<div class="container px-5 px-sm-0">
  <div class="row">
    <!--左側-->
    <div class="col-md-3">
      <!--User info-->
      <%= render 'users/info', user: @user %>
      <!--New book-->
      <%= render 'books/newbook', book_new: @book_new %>
    </div>
    <!--右側-->
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format:'jpg', fallback:"no_image.jpg", size:"40x40" %>
              </td>
              <td><%= user.name %></td>
              <td><%= link_to "Show", user %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>