<h1>Books</h1>
<!--book indexページ右側-->
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format:'jpg', fallback:"no_image.jpg", size:"40x40" %>
        </td>
        <td><%= link_to book.title, book %></td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--左側-->
<!--User info-->
<%= render 'users/info', user: @user %>


<!--New book-->
<%= render 'books/newbook', book_new: @book_new %>